{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>{% block title %}{% endblock title %}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<script src="https://kit.fontawesome.com/13c267004c.js" crossorigin="anonymous"></script>
		{% tailwind_css %}
	</head>

	<body class="bg-black font-mono h-screen"
		style="
		background: rgb(98,98,241);
background: radial-gradient(circle, rgba(98,98,241,1) 0%, rgba(98,98,241,1) 16%, rgba(0,0,0,1) 100%);	
		"
	>
		{% include "header.html" %}
		{% block content %}{% endblock content %}
		{% include "footer.html" %}
	</body>
</html>
