<div class="fixed w-screen">
    <header
class='max-w-3xl mx-auto my-5 flex justify-between items-center'
>
<h1
    class='text-white font-extrabold text-3xl'
>
Server error 500
</h1>
<nav class='text-white text-4xl'>
    <a href="https://t.me/alex_barmen" class='hover:text-blue-700  transition-all'>
        <i class="fa-brands fa-telegram"></i>
    </a>
    <a href="https://vk.com/alex_barmen" class='hover:text-blue-700  transition-all'>
        <i class="fa-brands fa-vk"></i>
    </a>
</nav>
</header>
</div>